@keyframes pulse {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.5);
  }
}

.heart-loader {
  animation: pulse 1.5s infinite;
}

#loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

