* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #FFFBF7;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px 16px;
  border-radius: 5px;
}

ul {
  list-style: none;
}

span {
  display: block;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0.5rem;
}

body::-webkit-scrollbar {
  width: 20px;               
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);        
}

body::-webkit-scrollbar-thumb {
  background-color: #a6b293;    
  border-radius: 20px;       
  border: 3px solid rgba(0, 0, 0, 0.2);  
}

html {
  scroll-behavior: smooth;
}
